// Place all the styles related to the Repairs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.repair_form{
  fieldset{
    background: #8CD2E1;
    legend{
      color: #fff;
      background: #595959;
      font-family: sans-serif;
      padding: 0.2em 1em;
    }
  }

  form {
    label {
      width: 5em;
      float: left;
      text-align: right;
      padding-top: 0.5em;
      margin-right: 0.1em;
      display: block;
    }

    select, textarea, input {
      margin-left: 0.5em;
      height: 50px;
    }

    .submit {
      margin-left: 4em;
    }
    br {
      display: none
    }
  }
}