<h1>New repair</h1>

<%= render 'form' %>
<% if session[:user_id] %>
<%= link_to 'Back', repairs_path %>
<% else %>
    <p style="color:red;"><strong>Please login to book a repair</strong></p>
<% end %>