<h1>Bike Categories</h1>
<p><strong>Select from a full range of bikes</strong></p>
<ul>
      <li><%= link_to 'Mountain Bikes', mountain_bikes_path %></li>
      <br/>
      <li><%= link_to 'Road Bikes', road_bikes_path %></li>
      <br/>
      <li><%= link_to 'Leisure Bikes', leisure_bikes_path %></li>
</ul>

